<<<<<<< HEAD
        body {
            background: radial-gradient(#0a0064 7%, #010000 100%);
            background-size: 100%;
            height: 100vh;
            color: white;
            margin: 0px;
            padding: 0px;
        }
        
        header {
            height: 8%;
            display: flex;
            align-items: center;
            width: 100%;
            border-bottom: solid white;
            justify-content: center;
        }
        
        header .name {
            font-size: 20px;
            animation: animation 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1 alternate both;
        }
        
        header .container {
            position: absolute;
            right: 0px;
        }
        
        header .navbar {
            height: auto;
            width: 100%;
            display: inline-flex;
            flex-direction: row-reverse;
        }
        
        header nav .icons {
            font-size: 10px;
            margin-right: 10px;
            margin-left: 40px;
            color: white;
            position: relative;
            right: 0px;
        }
        
        @keyframes animation {
            0% {
                letter-spacing: -0.5em;
                opacity: 0;
            }
            40% {
                opacity: 0.6;
            }
            100% {
                opacity: 1;
            }
        }
        
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        header div nav a {
            position: relative;
            display: inline-block;
            padding: 5px 5px;
            color: #03e9f4;
            text-decoration: none;
            text-transform: uppercase;
            transition: 0.5s;
            letter-spacing: 4px;
            overflow: hidden;
            margin-right: 50px;
        }
        
        a:hover {
            background: #03e9f4;
            color: #050801;
            box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
            -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
        }
        
        a:nth-child(1) {
            filter: hue-rotate(270deg);
        }
        
        a:nth-child(2) {
            filter: hue-rotate(110deg);
        }
        
        a span {
            position: absolute;
            display: block;
        }
        
        a span:nth-child(1) {
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, transparent, #03e9f4);
            animation: animate1 1s linear infinite;
        }
        
        @keyframes animate1 {
            0% {
                left: -100%;
            }
            50%,
            100% {
                left: 100%;
            }
        }
        
        a :nth-child(2) {
            top: -100%;
            right: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(180deg, transparent, #03e9f4);
            animation: animate2 1s linear infinite;
            animation-delay: 0.25s;
        }
        
        @keyframes animate2 {
            0% {
                top: -100%;
            }
            50%,
            100% {
                top: 100%;
            }
        }
        
        a :nth-child(3) {
            bottom: 0;
            right: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(270deg, transparent, #03e9f4);
            animation: animate3 1s linear infinite;
            animation-delay: 0.50s;
        }
        
        @keyframes animate3 {
            0% {
                right: -100%;
            }
            50%,
            100% {
                right: 100%;
            }
        }
        
        a:nth-child(4) {
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(360deg, transparent, #03e9f4);
            animation: animate4 1s linear infinite;
            animation-delay: 0.75s;
        }
        
        @keyframes animate4 {
            0% {
                bottom: -100%;
            }
            50%,
            100% {
                bottom: 100%;
            }
        }
=======
html,
body {
    height: 100vh;
    margin: 0;
    background: radial-gradient(#250043 0%, #050047 100%);
    color:white;
    scroll-behavior: smooth;    
}

.box {
    display: flex;
    flex-flow: row;
    height: 100vh;
}

.box .left-side {
  font-size: 1em;
  flex-grow: 0;
  flex-basis: auto;
  border-right: solid;
  border-width:1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100vh;
}
#photo{
color: white;
  font-size: 1em;
  position: relative;
  margin-top: 90px;
  margin-bottom: 10px;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  border-width: 1px;
  background-image: url("/assents/imagens/photos.jpg") ;
  background-size:100% ;
  
}
.text{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5em;
}
.name{  
  position: relative;
  left: 0px;  
  margin-bottom: 0px;  
}
.description{
  font-size:0.9em ;
  margin-top: 0px;
}
.icons{
  margin: 10px;
  width:  30px;
}

.box .mid {
    flex-grow: 1;
    flex-basis: auto;
}

.home{
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: left;   
}
#texto{
  display: flex;  
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home .text-box{  
  width: 400px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-self: ce;
  right: 400px; 
}
.home img{
  width: 500px;
  position: absolute;
  left: 450px;
}

.projects{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  height: 100vh;
}
.projects img{
  margin-right:100vh ;  
}

.box .right-side {
    flex-grow: 0;
    flex-basis: 100px;
    border-left: solid;
    border-width:1px;
    display: flex;
    position: fixed;
    right: 0px;
    height: 100vh;
    justify-content: center;    
  }
  
.bottom{
  position: absolute;
  bottom: 50px;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
.card {
  background: #191c29;  
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;    
  cursor: pointer;
  font-family: cursive;    
  margin: 10px;
  width: auto;
  height: auto;
  display: inline-flex;
  flex-direction: row;
  
}


.card:hover {
  color: rgb(250, 88, 88);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  
}

.card::before {
  content: "";
  width: 114%;
  height: 112%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
  position: absolute;
  z-index: -1;
  top: -8%;
  left: -8%;
  animation: spin 2.5s linear infinite;
}
.cards::before {
  content: "";
  width: 114%;
  height: 112%;
  border-radius: 100%;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
  position: absolute;
  z-index: -1;
  top: -6%;
  left: -7%;
  animation: spin 2.5s linear infinite;
}


.card::after {
  position: absolute;
  content: " ";  
  left: 0;
  right: 0;
  z-index: -1;  
  transform: scale(0.8);
  filter: blur(calc(10 / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
>>>>>>> 102b7e5b0969836d4274040a47e95ed61a7468dd
